.mt-2{
	margin-top: 2px;
}
body {
	background-color: #eeeeee;
}

.h7 {
	font-size: 0.8rem;
}

.card-text{
	color: black;
}

.gedf-wrapper {
	margin-top: 0.97rem;
}

@media (min-width: 992px) {
	.gedf-main {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.gedf-card {
		margin-bottom: 2.77rem;
	}
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
	content: none;
	display: none;
}